.line {
    width: 10%;
    height: 5px; 
    background-color: white; 
    margin: 0.5rem 0; 
    margin-right: 10px;
    margin-left: 10px;
}
.line-g {
    width: 10%;
    height: 5px; 
    background-color: gray; 
    margin: 0.5rem 0; 
    margin-right: 10px;
    margin-left: 10px;
}
